@font-family{
	font-family:'Gilroy', 'Verdana', 'sans-serif';
    src: url(../../fonts/gilroyextrabold.woff) format('woff');
    font-style: extrabold;
    font-weight: 800;

}
@font-family{
	font-family:'Gilroy', 'Verdana', 'sans-serif';
    src: url(../fonts/gilroylight.woff) format('woff');
    font-style: light;
    font-weight: 300;

}
html{
	width: 100%;
	min-width: 1440px;
}

body{
	font-family: 'Open Sans', 'Verdana', 'sans-serif';
	font-size: 15px;
	font-weight: 300;
	line-height:30px;
	color:#444444;
	width: 100%;
	min-width: 1440px;
	background-color: #ffffff;
	margin:0;
	position: relative;
	
}
.page{
	width: 1160px;
	margin:0 auto;
	background-color:#ffffff;
	
}
.title-h2{
	position: relative;
	font-family: 'Gilroy', 'Verdana', 'sans-serif';
	font-size: 47px;
	font-weight: 800;
	letter-spacing:2px;
	line-height: 54px;
	color: #000000;
	margin:0;
}

/*-----------------------------------------------index-----------------------------------------------*/

/*-------------------------header----------------------*/

.header-main{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	background-color: #ffe27f;
	margin-top:40px;
	height: 300px
}

.header-main__shop{
	height: 185px;
}
.page-inner{
	width: 1040px;
	margin:0 auto;
	position: relative;
}


.logo-title__link{
  display: block;
  text-decoration: none;

}
.title-h1{
	position: relative;
	font-family: 'Gilroy', 'Verdana', 'sans-serif';
	font-size: 48px;
	line-height: 48px;
	font-weight:800;
	color:#000000;
	text-transform: uppercase;
	letter-spacing: 0.4px;
	margin:-27px 0 0 0 ;
}

.title-h1:hover{
	color: #444444;
}
.title-h1:active{
	color:#666666;
}
.header-top{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top: 20px;
	
	
}
/*---------input------------------*/

input{
    padding: 0;
}

.feedback-inputs::-webkit-input-placeholder{color:#242424;}
.feedback-inputs:-moz-placeholder{color:#242424;}
.feedback-inputs:-ms-input-placeholder{color:#242424;}


.feedback-inputs input[type=text] {
    -webkit-appearance: none;
    -ms-appearance:none;
    -moz-appearance: none;
    appearance: none;

}

input[type="text"]::-webkit-search-decoration,
input[type="text"]::-webkit-search-cancel-button,
input[type="text"]::-webkit-search-results-button,
input[type="text"]::-webkit-search-results-decoration


.search{

}

.search-field{
	position: relative;

}
.search-input{
	border:none;
	outline: none;
	margin: 0;
	background: none;
	padding-left: 40px;
	font-family: 'Open Sans', 'Verdana', 'sans-serif';
	font-weight: 300px;
	font-size: 15px;
	line-height: 36px;
	color: #000000;
	opacity: .3;
	cursor: pointer;
}

.search-input:hover{
	opacity: .6;
}
.search:active{
	width: 355px;
	border-bottom: 2px solid #000000;
	height: 47px;
    display: flex;
    justify-content: space-between;	
}
.search-icon{
	content: '';
	position: absolute;
	bottom:0;
	left: 0;
	background-image: url(../img/search-icon.png);
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.search-btn{
	display: none;
}

.search:active >.search-btn{
	display: block;
    margin: 0;
    padding: 0;
    background: none;
    height: 47px;
    width: 85px;
    outline: none;
    border: 2px solid #000;
    border-bottom: 0;
}

.search:active >.search-field>.search-icon{
	bottom: 17px;
}

.search:active >.search-btn:hover{
	color: #ffffff;
	background: #000000;

}
.search:active >.search-btn:active{
	color: #747474;


}
.menu-top{
	display: inline-flex;

}
.menu-top__items{
	white-space: nowrap;
	text-overflow: ellipsis;

}
.menu-list{
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	list-style: none;
	margin:0;
	padding-left: 0;
}
.menu-items__style{
	text-transform: capitalize;
	margin-right: 40px;
}
.menu-items__style:last-child{
	margin-right:0;

}


.menu-top__links{
	position: relative;
	text-decoration: none;
	color: #000000;
	font-size: 15px;
	/*line-height: 36px;*/
	letter-spacing: 0.5px;
}

.menu-top__links:hover{
	opacity: .6;
}
.menu-top__links:active{
	opacity: .3;
}
.profile-box{
	position: relative;
	display: inline-flex;
	width: 223px;
}
.login-name__indent{
	margin-right: 18px;
}
.icon_man{
	/*position: relative;*/
	padding-left: 27px;
}
.icon_man::before{
	content: '';
	position: absolute;
	top:12px;
	left:0;
	width: 13px;
	height: 12px;
	background-image: url(../img/icon_man.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.icon_man:hover::before{
	opacity: .6;
}

.icon_compare{
	padding-left: 22px;
}
.icon_compare::before{
	content: '';
	position: absolute;
	bottom:3px;
	left: 0;
	width: 10px;
	height: 10px;
	background-image: url(../img/compare.png);
	background-repeat: no-repeat;
	background-size: cover;

}
.icon_junk{
	padding-left: 26px;
}
.icon_junk::before{
	content: '';
	position: absolute;
	bottom:3px;
	left: 0;
	width: 12px;
	height: 12px;
	background-image: url(../img/junk.png);
	background-repeat: no-repeat;
	background-size: cover;
}


/*-------------header-botttom----------------*/

.header-bottom{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top: 30px;
}

.menu-bottom__items{
	white-space: nowrap;
	text-overflow: ellipsis;
	 
}
.menu-bottom-item__style{
	margin-right: 40px;

}

.menu-bottom-item__style:first-child{
	margin-right: 265px;
}

.menu-bottom-item__style:nth-child(3n){
	margin-right:0;

}

.menu-bottom-item__style:last-child{
	margin-right:0;
	margin-left:110px;
}

.menu-bottom__links{
	text-decoration: none;
	color: #000000;
	font-size: 18px;
	line-height: 36px;
	font-family: 'Gilroy', 'Verdana', 'sans-serif';
	font-weight: 800;
	letter-spacing: 4px;
	text-transform: uppercase;
}
.menu-bottom__links:hover{
	opacity: .6;
}
.menu-bottom__links:active{
	opacity: .3;
}
.icon_plus{
	position: relative;
	padding-right: 30px;
}
.icon_plus::after{
	content: '';
	position: absolute;
	bottom:3px;
	right: 0;
	width: 16px;
	height: 16px;
	background-image: url(../img/plus.png);
	background-repeat: no-repeat;
	background-size: cover;
}

/*-----------------------------------menu-drop-----------------*/
.menu__drop-down{
	position: relative;
	z-index: 100;
	display: none;
	margin-top: 28px;
}

.menu-drop:hover >.menu__drop-down{
	display: block;
}

.menu__drop-down-list{
    content: '';
    position: absolute;
    top: 0;
    left: -60px;
    width: 1160px;
    height: 130px;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #ffe393;
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
    display: block;
    column-count: 3; 
    column-gap: 40px; 
}

.menu-drop__items{

}

/*----------------sort-panel--------catalog-shop----------------*/
/* ------------------------------slider-------------------------*/

.slider-counter{
	display: inline-flex;
	position: absolute;
	/*bottom: -58px;
	right:-15px;*/
	top:-120px;
	right:55px;
}
.slider-counter::before{
	content: '';
	position: absolute;
	top:50px;
	left: -320px;
	width: 100px;
	height: 7px;
	background-color: #ffffff;

}
.slider-number {
	font-family: 'Gilroy', 'Verdana', 'sans-serif';
    font-size: 180px;
    font-weight: 800;
    line-height: 180px;
    color: #ffffff;
    margin: 0; 
}

#slider-number-1{
	display: none;
}
#slider-number-2{
	display: none;
}
#slider-number-3{
	display: none;
}

#btn-1:checked ~ .slider-counter::before{
	left:-340px; 
}

#btn-1:checked ~ .slider-counter #slider-number-1,
#btn-2:checked ~ .slider-counter #slider-number-2,
#btn-3:checked ~ .slider-counter #slider-number-3{
	display: block;
}




.filter-block {
    width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1 2;
    -ms-flex: 1 2;
    flex: 1 0 0;
    background-color: #dddddd;
}
.sort-block{
	flex:2 0 0;
	width: 100%;
	background-color: #ebebeb;

}

.general-block{
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top: 40px;
}
.general-block__none-indent{
	margin-top:0;
}
.sort-panel{
	width: 100%;
	height: 70px;
	background-color: #ebebeb;
}

.page-main{
	width: 1240px;
	margin: 0 auto;
	background-color: pink;
}

.sort-panel__wraper{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	/*-----prefix-----*/
	justify-content: flex-start;
	

}

.sort-panel__position{
	justify-content: flex-end;
}
.sort-filter-title{
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 368px;
	height: 70px;
	background-color:#dddddd;
	box-sizing: border-box;
	padding-left: 90px;
}
.sort-panel__title{
	font-family: 'Gilroy', 'Verdana', 'sans-serif';
	font-weight: 800;
	font-size: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.sort-manage-panel{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	width: 833px;
	height: 70px;
	background-color: #ebebeb;
	padding-left: 75px;
	box-sizing: border-box;
}
.sort-list{
	display: inline-flex;
	list-style: none;
	margin:0;
	padding: 0;
}
.sort-links{
	position: relative;
	display: block;
	text-decoration: none;
	line-height: 18px;
	font-size: 16px;
	font-family: 'Open Sans', 'Verdana', 'sans-serif';
	font-weight:400;
	color:#000000;
	opacity: .3;
}
.sort-items{
	margin-right: 30px;
	position: relative;
}
.sort-items:nth-child(3n){
	margin-right: 215px;
}
.sort-items:nth-child(4n){
	margin-right:25px;
}
.sort-items:nth-child(5n){
	margin-right: 0;
}
.sort-links:hover{
	opacity: .6;
}

.sort-links:active{
	opacity: 1;
}

.sort-items:first-child{
	margin-left: 55px;
}

.sort-items:last-child{
	margin-right: 0;

}

.triangle-btn::after{
	content: '';
	position: absolute;
	border: 10px solid transparent;	border-bottom: 10px solid #000000;
	opacity: .2;
	width: 0;
	bottom:4px;
	right:0;
}
.triangle-btn2::after{
	content: '';
	position: absolute;
	border: 10px solid transparent;	border-top: 10px solid #000000;
	opacity: .2;
	width: 0;
	height: 0;
	top:4px;
	right:-20px;
}


.triangle-btn:hover::after{
	opacity:.4;
}
.triangle-btn2:hover::after{
	opacity:.4;
}

.triangle-btn:active::after{
	opacity:1;
}
.triangle-btn2:active::after{
	opacity:1;
}
/*---------------------main-container---------------------*/
.main-container{

}
.page-inner__indent{
	margin-top: 35px;

}
.breadcrumbs{
	
}
.breadcrumbs-list{
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 15px;
}
.breadcrumbs-items{
	display: inline-block;
}

.breadcrumbs-items__style{
	position: relative;
	text-decoration: none;
	font-family: 'Open Sans', 'Verdana', 'sans-serif';
	font-weight: 300;
	font-size: 14px;
	line-height: 36px;
	color:#000000;
	padding-right: 24px;
	margin-right: 16px;
	opacity: .3;
}
.breadcrumbs-items__style:hover{
	opacity: .6;
}
.breadcrumbs-items__style:active{
	opacity: .1;
}
.breadcrumbs-items__style::after{
	content: '';
	position:absolute;
	top:7px;
	right:0;
	width: 4px;
	height: 7px;
	background-image: url(../img/arrow.png);
	background-size: cover;
	background-repeat: no-repeat;

}

.title-main{
	font-family: 'Gilroy', 'Verdana', 'sans-serif';
	font-size: 47px;
	font-weight: 800;
	line-height: 54px;
	color:#000000;
	margin: 0;
}

.slider-container{
	position: relative;
}
#slider-1{
	display: none;
}
#slider-2{
	display: none;
}
#slider-3{
	display: none;
}

#btn-1:checked~ #slider-1,
#btn-2:checked~ #slider-2,
#btn-3:checked~ #slider-3{
	display: block;
}
#btn-3:checked~ .slider-controler-helicopter{
	right:74px;
}


.slider-content{
	padding-left: 50px;
	padding-right:80px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	/*-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
*/
}

.slider-img{
	position: relative;
	margin-top:-110px;
	width: 530px;
/*	margin-right: 80px;*/

}

.slider-img-three{
	margin-top: -50px;
	right: 40px;
}

.slider-description{
	width: 480px;
	/*margin-left: 40px;*/

}

.box-slider-controler{
	display: block;
	height: 145px;
	width: 480px;
	font-size:0;
}
.slider-controler{
	position: absolute;
	bottom:150px;
	right: 80px;
	display:inline-flex;
	width: 480px;
	justify-content: space-between;
	align-items: center;
}

.slider-toggle{
	display: inline-flex;
	font-size: 0;
}

.slider-icons{
	display:inline-flex;
	position: relative;
	margin-right: 25px;
}

.slider-icons:last-child{
	margin-right: 0;
}
.slider-icons{
	width:4px;
	height: 4px;
	background-color: #ffffff;
	border: 3px solid #000000;
	opacity: .3;
	border-radius:10px;
}
.slider-icons:hover{
	opacity: .4;

}
/*.slider-icons:active{
	opacity: 1;
}*/

.slider-radio{
	display: none;
}

#btn-1:checked~ .slider-controler  label[for="btn-1"],
#btn-2:checked~ .slider-controler  label[for="btn-2"],
#btn-3:checked~ .slider-controler  label[for="btn-3"]{
	opacity:1;
}




.img-title-wrap{
	margin-top: -32px;

}
.img-title{
	font-family: 'Gilroy', 'Verdana', 'sans-serif';
	font-weight: 800;
	font-size: 47px;
	letter-spacing: ;
	line-height: 60px;
	color:#000000;
}

.img-content{
	margin-top: 10px;

}



.features-panel{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content:flex-start;
/*	margin-top: 70px;*/
}
.features-box{
	text-align: center;
	margin-right: 60px;
}
.features-box:last-child{
	margin-right: 0;
}
.features-design{
	font-family: 'Gilroy', 'Verdana', 'sans-serif';
	font-size: 36px;
	letter-spacing: 0.3px;
	font-weight: 300;
}
.text{
	font-size:15px;
	line-height: 30px;
	font-family: 'Open Sans', 'Verdana', 'sans-serif';
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 0;
	color:#000000;

}

.info-links__background{
	display: inline-block;
	vertical-align: middle;
	justify-content: center;
	position: relative;
	outline:0;
	border: 0;
	background:none;

	

}
.info__background-size{
	width: 220px;
}
.info-links__background::after{
	content:'';
	position: absolute;
	top:13px;
	left:0;
	width: 220px;
	height: 7px;
	background-color:#ffc600;

}

.info-links{
	position: relative;
	font-family: 'Gilroy', 'Verdana', 'sans-serif';
	font-weight: 800;
	font-size: 18px;
	color:#000000;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-decoration: none;
	z-index: 100;
}

.info-links__background:hover::after{
	height: 40px;
	top: -5px;
}

.info-links__background:active::after{
	height: 40px;
	top: -5px;
}
.info-links__background:active>.info-links__opacity{
	opacity: .3;
}


/*--------------asidebar------------------*/
.aside-inner-block{
	width: 100%;
	-webkit-box-flex: 1;
	-webkit-flex: 1 2;
	-ms-flex: 1 2;
	flex: 1 0 0;
	background-color:#efefef;
}
.gallery-inner-block{
	flex:2 0 0 ;
	width: 100%;
	background-color:#ffffff;
}
.aside-wraper{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;

}
.filter-bar{
	/*-webkit-box-flex: 1;
	-webkit-flex: 1 2;
	    -ms-flex: 1 2;
	        flex: 1 2;*/
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	-ms-grid-row-align: center;
	align-items: center;
	width: 390px;
	background-color:#efefef;
	box-sizing: border-box;
	padding-left: 190px;
	padding-top: 70px;
	margin-right: 80px;
	overflow: hidden;

}
.cost-feature{

}
.filter-title{
	display:block;
	vertical-align: ;
	font-family: 'Gilroy', 'Verdana', 'sans-serif';
	font-weight: 800;
	font-size: 18px;
	color:#000000;
	letter-spacing: 1px;
	margin-bottom: 30px;

	
}
.filter-form{
	margin-bottom: 15px;

}
.form-indent{
	margin-bottom: 50px;
}
.range-filter{
	width: 200px;
	height: 140px;
	padding-top: 15px;
	margin-bottom: 15px;
	border-top:2px solid #000000;
	border-bottom:2px solid #000000;
	overflow: hidden;


}

.range-control{
	position: relative;


}

.scale{
	width: 200px;
	height: 2px;
	background-color:#dcdcdc; 
}

.bar{
	height: 2px;
	background-color:#72ca00;
}

.toggle{
	content: '';
	position: absolute;
	top:-6px;
	left: 0;
	width:10px;
	height: 10px;
	background-color: #ffffff;
	border:2px solid #000000;
	border-radius: 50%;
	cursor: pointer;

}
.toggle-active{
	background-color: #72ca00;
	border:2px solid #ffffff;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2 );
}

.min-toggle{
	left:0;
}
.max-toggle{
	left:110px;
}

.price-control input {
	width: 60px;
	border:none;
	outline: none;
	background: none;
	margin: 0;
	color: inherit;
	font: inherit;

}

.price-control__style{
	display: inline-block;
	vertical-align: top;
	font-family: 'Gilroy', 'Verdana', 'sans-serif';
	font-weight: 300;
	font-size: 14px;
	line-height: 23px;
	color: #000000;
	opacity: .2;
	cursor: pointer;
	margin-top: 10px;
	margin-right: 5px;
}

.filter-input{
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 200px;
	padding-left: 40px;
	margin-bottom: 15px;
	box-sizing: border-box;
	cursor: pointer;
}
.filter-input:last-child{
	margin-bottom: 0;
}
.filter-input input[type="checkbox"]{
	display: none;
}
.filter-input input[type="radio"]{
	display: none;
}
/*.filter-input .color-line+*/
.checkbox-indicator{
	position: absolute;
	top:0;
	left:0;
	width: 23px;
	height: 23px;
	background-color:#dbdcdc;
}

.checkbox-indicator:hover{
	background-color:#cecece;
	

}
.checkbox-indicator:active{
	background-color:#c4c4c4;
}

.filter-input .color-line:checked +
.checkbox-indicator::before{
	content: '';
	position: absolute;
	top:8px;
	left:5px;
	height: 7px;
	width: 12px;
	background-image:url(../img/check.png);
}

/*.filter-input .bluetooth-line+*/
.radio-indicator{
	position: absolute;
	top:0;
	left:0;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border:2px solid #dcdcdc;
	background-color:#ffffff;
}
.radio-indicator:hover{
	border-color: #bcbcbc;
}
.radio-indicator:active{
	border-color: #acacac;
}

.filter-input .bluetooth-line:checked +
.radio-indicator::before{
	content: '';
	position: absolute;
	top:5px;
	left:5px;
	height: 6px;
	width: 6px;
	border:2px solid #000000;
	border-radius: 50%;
}

.filter__background-size{
	width: 200px;
}
/*.filter-input .color-line:checked +
.checkbox-indicator::after{
	content: '';
	position: absolute;
	top:0;
	left:10px;
	height: 2px;
	width: 6px;
	background-color: #000000;
}

.filter-input .color-line:checked +
.checkbox-indicator::before{
	transform: rotate(35deg);
}

.filter-input .color-line:checked +
.checkbox-indicator::after{
	transform: rotate(-35deg);
}*/

.gallery-container__wraper{
	display:block;
	padding-top: 70px;
	padding-bottom: 75px;
	padding-left: 75px;
	
}
.gallery-content{
	display:inline-block;
	vertical-align: top;
	box-sizing: border-box;
	/*align-items: center;*/
	width: 874px;
	background-color: #ffffff;
	font-size: 0;
		
	
}
.img-items{
	display: inline-block;
	vertical-align: top;
	margin-right:40px; 
	overflow: hidden;
	position: relative;
}



.img-items:hover>.img-items__hover{
	opacity: .7;
	cursor: pointer;	
}




.junk__background-size{
	width: 200px;
}
.junk__background-line::after{
	width: 200px;
	top:13px;
}
.junk__background-line:hover::after{
	top:-5px;
}
.junk__background-line:active::after{
	top:-5px;
}

.junk-hover{
	display: none;
}

.img-items:hover> .junk-hover{
	display: block;
	position: absolute;
	top:170px;
	left:80px;
}


.add-btn{
	display: none;
    
}
.add-btn:hover>.add-link{
	opacity: 1;
}
.add-btn:active>.add-link{
	opacity: .2;
}
.img-items:hover>.add-btn{
	display:inline-block;
    vertical-align: top;
    position: absolute;
    top: 200px;
    left: 110px;
    cursor: pointer;

}
.add-link{
	font-family: 'Open Sans', 'Verdana', 'sans-serif';
	font-size: 13px;
	font-weight: 300;
	line-height: 36px;
	color: #000000;
	opacity: .5;
	text-decoration: none;
}



.img-stand{
	width: 360px;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	margin-top: 15px;
	margin-bottom: 35px;
}

.img-items:nth-child(2n) {
    margin-right: 0;
}
.img-caption{
	overflow: hidden;
	text-overflow: ellipsis;
}

.img-caption__link{
	display: block;
	width: 250px;
	font-family: 'Gilroy', 'Verdana', 'sans-serif';
	font-weight: 800;
	font-size: 18px;
	color: #000000;
	text-decoration: none;
}

.img-price{
	display: block;
	font-family: 'Gilroy', 'Verdana', 'sans-serif';
	font-weight: 300;
	font-size: 16px;
	color: #000000;
	white-space: nowrap;
	overflow: hidden;

}

.new-label{
	display: inline-block;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    vertical-align: top;
    border: 2px solid #000000;
    opacity: .2;
}
.new-label__none{
	display: none;
}
.new{
	position: absolute;
	top: 15px;
	left: 15px;
	font-family: 'Gilroy';
	font-size: 14px;
	font-weight: 800;
	color: #000000;
	text-transform: uppercase;
}






.pagination{
	display: flex;
	width: 760px;
	height: 70px;
	background-color: #ebebeb;
    /*padding: 25px;*/
    box-sizing: border-box;
    line-height: 18px;
    text-transform: uppercase;
    justify-content: space-between;
    align-items: center;
}

	
.page-prev{
	padding: 25px 30px;

}

.page-next{
	padding: 25px 30px;
}

.page-prev:hover{
	background-color: #d9d9d9;
}

.page-next:hover{
	background-color: #d9d9d9;
}

.page-prev:active{
	background-color: #d9d9d9;
	color:#acacac;


}
.page-next:active{
	background-color: #d9d9d9;
	color:#acacac;
}
.page-text{
	font-family: 'Gilroy', 'Verdana', 'sans-serif';
	font-weight: 800;
	text-decoration: none;
	font-size: 16px;
	letter-spacing: 1px;
	color: #000000;
}

.page-list__numbers{
	display: inline-block;
	vertical-align:middle;

}

.page-numbers__links{
	padding: 25px 15px;
	opacity: .3;
}
.page-numbers__links:hover{
	opacity: .6;
}
.page-numbers__links:active{
	opacity:1;
}


/*------------catalog-------------------*/

.catalog{
	display: block;
	height: 420px;
	margin-top: 100px;
    font-size: 0;
}

.catalog-items{
	display: inline-block;
	vertical-align: top;
	margin-right: 40px;
	width: 160px;
	text-align: left;
	overflow: hidden;
}

.catalog-items:last-child{
	margin-right: 0;
}

.catalog-items__link{
	display: block;
	font-family: 'Gilroy', 'Verdana', 'sans-serif';
	font-size: 18px;
	font-weight: 800;
	color: #000000;
	text-decoration: none;
}

.catalog-items__background{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 160px;
	height: 160px;
	background-color: #ffe27f;
	margin-bottom: 35px;
}

.catalog-caption{
	overflow:hidden;
	text-overflow: ellipsis;
}

/*.catalog-pic{

}*/
.catalog-items__link:hover>.catalog-items__background{
	background-color: #ffc600;
}

.catalog-items__link:active>.catalog-items__background{
	background-color: #ffc600;

}
.catalog-items__link:active>.catalog-caption{
	opacity: .3;
}

.catalog-items__link:active>.catalog-items__background> .catalog-pic{
	opacity: .3;
}
/*-----------service-container-----------------------*/
.service-container{
	width: 100%;
	height: 290px;
	/*-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;*/
	background-color: #e6e6e6;
}
.service-page{
	background-color:#e6e6e6;	
	display: -webkit-box;	
	display: -webkit-flex;	
	display: -ms-flexbox;	
	display: flex;
	position: relative;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.service{
	position: relative;
/*	margin-top: -45px;*/
}
.service::after{
	content: '';
	position: absolute;
	top:-100px;
	right: -120px;
	width: 8px;
	height: 320px;
	background-color: #000000;
}
.service-slide-controler{
	display: block;
	margin-top: -15px;
	
	/*list-style: none;
	margin:0;
	padding-left: 0;*/
}
.service-active{
	display: block;
	text-align: center;
	position: relative;
}
.service-items{
	display: block;
	margin-bottom: 50px;
}
.service__background-line:after{
	width: 160px;
	top: 12px;
	z-index: -1;
}
.service__background-size{
	width: 160px;
}

.text-top-wrap{
	margin-top: 45px;
	margin-right: 100px;
}

.service-slider{
	display: block;
	width: 715px;
	height: 210px;
}
.service-description{
	position: relative;
/*	margin-left: 220px;*/
}
.service-title__indent{
	margin-top: -30px;
}
.man-img{
	position: absolute;
	display: inline-block;
	vertical-align: top;
	background: url(../img/man.png);
	background-repeat: no-repeat;
	top: 5px;
	right: 40px;
	width: 136px;
	height: 164px;
	/*margin-top:-20px;*/

}
.warranty-img{
	position: absolute;
	display: inline-block;
	vertical-align: top;
	background: url(../img/warranty-pic.png);
	background-repeat: no-repeat;
	top: 5px;
	right: 40px;
	width: 171px;
	height: 195px;

}

.credit-img{
	position: absolute;
	display: inline-block;
	vertical-align: top;
	background: url(../img/credit-pic.png);
	background-repeat: no-repeat;
	top: 5px;
	right: 40px;
	width: 156px;
	height: 188px;

}
.service-active:hover >.service__background-line::after{
	height: 40px;
	top:-5px;
	
}

.service-active:active >.service__background-line::after{
	background-color: #000000;
	width: 280px;
	height: 40px;
	top: -5px;
}

.service-active:active{
	color:#ffe27f;
}


.slider-checkbox{
	display: none;
}
#service-slider-1{
	display:none;
}

#service-slider-2{
	display: none;
}

#service-slider-3{
	display: none;
}
#delivery-btn:checked~  #service-slider-1,
#warranty-btn:checked~  #service-slider-2,
#credit-btn:checked~ #service-slider-3{
	display: block;
}

.label-container{
	height: 285px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.label{
	display: inline-block;
	font-size: 0;
	background-size:cover;
	width: 260px;
	height:100px;
	background-repeat: no-repeat;

	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray; /* IE 6-9 */

	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray; /* IE 6-9 */
	/*Добавим вот такой вот код*/
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	opacity: .2;
}

.label:hover {
	-webkit-filter: none;
	-moz-filter: none;
	-ms-filter: none;
	-o-filter: none;
	filter: none;
	filter: none; /* IE 6-9 */
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	opacity: 1;
}

.pic1{
	background-image: url(../img/brandclr141.png);
}

.pic2{
	background-image: url(../img/brandclr2.png);
}

.pic3{
	background-image: url(../img/brandclr3.png);
}

.pic4{
	background-image: url(../img/brandclt4.png);
}

.contact-info{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-top: 60px;
	padding-bottom: 60px;
}
.contact__background-size{
	width: 260px;
}
.contact__background-line::after{
	width: 260px;
}

.title-top-line:after {
    content: '';
    position: absolute;
    top: -52px;
    left: 0;
    width: 80px;
    height: 7px;
    background-color: #000;
}
.title-bottom{
	margin-bottom: 50px;
}
.companies{
	margin:0;
	padding: 0;
	list-style: none;
	margin-top:80px;
	margin-bottom: 77px;
}
.text-bottom-indent{
	margin-bottom: 50px;
}
.companies-list{
	padding-left:37px;
	margin-bottom: 27px;
	position: relative;
	font-family: 'Gilroy', 'Verdana', 'sans-serif';
	font-size:16px;
	line-height: 40px;
	font-weight: 800;
	color: #000000;

}
.companies-list:last-child{
	margin-bottom: 0;
}
.companies-list::before {
    content: '';
    position: absolute;
    bottom: 12px;
    left: 0;
    width: 4px;
    height: 4px;
    background-color: #ffffff;
    border: 3px solid #000000;
    opacity: .3;
    border-radius: 10px;
}




/*------------------footer---------------------------*/
.footer-main{
	box-sizing: border-box;
	width: 100%;
	height: 320px;
	padding-top: 60px;
	padding-bottom: 75px;
	background-color: #444444;
}

.footer-page{
	background-color:#444444;
}

.footer-topline{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.footer-title__link{
	display: inline-block;
	vertical-align: middle;
}

.title-h1__footer{
	color: #ffe27f;
	margin:0;
}
.title-h1__footer:hover{
	color:#ffc600;
}

.title-h1__footer:active{
	color:#ffc600;
	opacity: .3;
}
.menu-top__items{
	list-style: none;
}
.footer-menu-top__links{
	color:#ffffff;
}
.man-footer{
	position: relative;
	padding-left: 27px;
}
.man-footer::before{
	content: '';
	position: absolute;
	bottom:4px;
	left: 0;
	background-image: url(../img/man-footer.png);
	width: 13px;
	height: 12px;
	background-size: cover;
	background-repeat: no-repeat;
}

.sticks-footer{
	position: relative;
	padding-left: 22px;
}
.sticks-footer::before{
	content: '';
	position: absolute;
	bottom:4px;
	left: 0;
	background-image: url(../img/sticks-footer.png);
	width: 10px;
	height: 10px;
	background-size: cover;
	background-repeat: no-repeat;
}

.junk-footer{
	position: relative;
	padding-left: 26px;
}
.junk-footer::before{
	content: '';
	position: absolute;
	bottom:4px;
	left: 0;
	background-image: url(../img/junk-footer.png);
	width: 12px;
	height: 12px;
	background-size: cover;
	background-repeat: no-repeat;
}
.footer-middleline{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-top: 25px;
}
.footer-pseudo-img{
	position: relative;
	display: inline-block;
}
.footer-pseudo-line:after{
	content: '';
	position: absolute;
	width: 80px;
	height: 7px;
	bottom:18px;
	left:0;
	background-color:#ffe27f; 
}
	

.footer-nav__list{
	position: relative;
	margin: 0;
	padding: 0;
	list-style:none;
	font-size: 0;
}

.footer-nav__items{
	display: inline-block;
	margin-right: 40px;
}
.footer-nav__items:last-child{
	margin-right: 0;
}
.footer-nav__links{
	text-decoration: none;
	font-family: 'Gilroy', 'Verdana', 'sans-serif';
	font-weight: 800;
	font-size: 18px;
	color: #ffffff;
	letter-spacing: 3px;
	line-height: 22px;
	text-transform: uppercase;
}
.footer-nav__links:hover{
	opacity: .6;
}

.footer-nav__links:active{
	opacity: .3;
}

.footer-text{
	color:#ffffff;
	line-height: 18px;
}
.footer-bottomline{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content:space-between;
	margin-top: 50px;
}

.social-content{
	display: inline-flex;
}

.social-icon{
	display: block;
	text-decoration: none;
	margin-right: 15px;
	font-size: 0;
	cursor: pointer;
	opacity: .3;
}

.social-icon:hover{
	opacity: 1;
}

.social-icon:active{
	opacity: .1;
}
.social-icon:last-child{
	margin-right: 0;
}
.icon_fb{
	background-image: url(../img/facebook.png);
	background-size: cover;
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
}

.icon_insta{
	background-image: url(../img/insta.png);
	background-size: cover;
	background-repeat: no-repeat;
	width: 41px;
	height: 40px;
}

.icon_twitter{
	background-image: url(../img/twitter.png);
	background-size: cover;
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
}
.academy-icon{
	position: relative;
	display: inline-block;
}
.html-icon::after{
	content: '';
	position: absolute;
	top:0;
	right:0;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../img/html.png);
	width: 27px;
	height: 34px;
}
.html-icon:hover::after{
	content: '';
	position: absolute;
	top:0;
	right:0;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../img/html-hover.png);
	width: 27px;
	height: 34px;
}

.html-icon:active{
	opacity: .3;
}

.model-content{
	display: none;
	position:fixed;
	top:100px;
	left:50%;
	margin-left:-470px;
	width: 960px;
	height: 550px;
	background-color:#ffffff;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 95px;
	box-sizing: border-box;
	box-shadow: 1px 1px 20px 0 #000000;
	z-index: 100000;
}

.model-content-show{
	display: block;
	animation: model 0.7s;
}

.feedback-form{
	display: inline-flex;
	flex-wrap: wrap;
	width: 760px;
	height: 370px;
	overflow: hidden;
	background-color: #ffffff;
}

.login-fields{
	display: inline-flex;
	justify-content: space-between;
	width: 100%;
	height: 100px;
}
.feedback-fields{
	margin-right: 40px;
	font-family: 'Gilroy';
	font-weight: 800;
	font-size:18px;
	color:#000000;
	/*display: inline-flex;
	justify-content: space-between;*/
}

.feedback-fields:last-child{
	margin-right: 0;
}
.feedback-inputs{
	font-family: 'Open Sans';
	font-size: 14px;
	font-weight: 300;
	color:#000000;
	opacity: .4;
	overflow: hidden;
	padding-left: 18px;
    box-sizing: border-box;
	outline:0;
	border:0;
	width: 360px;
	height: 50px;
	background-color: #f2f2f2;
		
}
.feedback-textarea{
	outline:0;
	border:0;
	width: 100%;
	height: 183px;
	overflow: hidden;
	font-family: 'Gilroy';
	font-weight: 800;
	font-size:18px;
	color:#000000;
}
.textearea{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family: 'Open Sans';
	font-size: 14px;
	font-weight: 300;
	color:#000000;
	opacity: .4;
	overflow: hidden;
	padding-left: 18px;
    box-sizing: border-box;
	overflow: hidden;
	width: 760px;
	height: 160px;
	background-color: #f2f2f2;
}

.form__background-size{
	width: 200px;
}
.form__background-size::after{
	width: 200px;
}
.btn-close{
    display: inline-block;
    position: absolute;
    top: 23px;
    right: 23px;
    width: 55px;
    height: 55px;
    background: #ffe27f;
    border-radius: 50%;
    outline: none;
    border: none;
    font-size: 0;
    cursor: pointer;
}

.btn-close::before,
.btn-close::after{
	content: '';
	position: absolute;
    top: 29%;
    right: 47%;
	height: 23px;
	width: 2px;
	border-radius: 1px;
	background-color: #ffffff;
}

.btn-close::before{
	transform: rotate(45deg);	
}
.btn-close::after{
	transform: rotate(-45deg);	
}
.map{
	display: block;
}
.model-content-map{
	display: none;
	position:fixed;
	top:100px;
	left:50%;
	margin-left:-470px;
	width: 962px;
	height: 559px;
	background-color:#ffffff;
	box-sizing: border-box;
	box-shadow: 1px 1px 20px 0 #000000;
	z-index: 1000;
}
.model-content-map-show{
	display: block;
}

.btn-map{
	z-index: 1000;
}

.map-indent{
	margin-top: 150px;
}

@keyframes model{
	0% {transform: translateY(-2000px);}
	70% {transform: translateY(30px);}
	90% {transform: translateY(-10px);}
	100% {transform: translateY(0);}
}
/*.overlay-model{
	position: fixed;
	width: 100%;
	height:100%;
	top:0;
	left: 0;
	background-color: #000000;
	opacity: .3;
	z-index: 10;
}*/